body{
    background-color: yellowgreen;
}
#score{
    font-size: 25px;
    margin-left: 100px;
}
#timer{
    font-size: 25px;
    margin-right: 100px;
    float: right;
}
#sketch{
    color: black;
}
